/* src/App.css */
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Red Hat Display', sans-serif;
}

main {
  flex: 1;
  padding-top: 80px; /* To account for fixed header */
}